 body {
  background-color: #a52a2a;
}
h3 {
 color: White; 
 font-size: 30px;
 text-decoration-line: overline underline white wavy 7px;
 letter-spacing: 5px;
 text-shadow: 1px 3px;
}

h3:hover {
  font-size:50px;
  text-shadow: 3px 3px 5px black;
    font-variant: small-caps;
}

img{
  width:40%;
}
div.polaroid {
  width: 40%;
  background-color: White;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 40%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
h1 {
  color: #00120B;
  font-size: 40px;
   text-decoration: underline wavy;
   text-shadow: 2px 2px 5px #31E981;
  word-spacing 30px;
    font-style: italic;
}
h1:hover { 
font-size: 60px; 
    font-style: italic;
  text-shadow: 2px 2px 5px #D8E4FF;
  font-variant: small-caps;
}
ul{
  list-style-type: none; 
  background-color: #a52a2a;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding: 10px;
  opacity: .8;
  margin: 0;
}
li {
  display: inline;
  padding: 10px 10px;
}
a { 
text-deciratu=ion: none; 
  color: white;
  font-variant: small-caps;
}
